

@keyframes basePose{
  0% {
    background-image: url('../assets/character/Idle_1.png');
  }
  10% {
    background-image: url('../assets/character/Idle_2.png');
  }
  15% {
    background-image: url('../assets/character/Idle_3.png');
  }
  20% {
    background-image: url('../assets/character/Idle_4.png');
  }
  25% {
    background-image: url('../assets/character/Idle_5.png');
  }
  30% {
    background-image: url('../assets/character/Idle_6.png');
  }
  35% {
    background-image: url('../assets/character/Idle_7.png');
  }
  40% {
    background-image: url('../assets/character/Idle_8.png');
  }
  45% {
    background-image: url('../assets/character/Idle_9.png');
  }
  50% {
    background-image: url('../assets/character/Idle_10.png');
  }
  55% {
    background-image: url('../assets/character/Idle_11.png');
  }
  60% {
    background-image: url('../assets/character/Idle_12.png');
  }
  65% {
    background-image: url('../assets/character/Idle_13.png');
  }
  70% {
    background-image: url('../assets/character/Idle_14.png');
  }
  75% {
    background-image: url('../assets/character/Idle_15.png');
  }
  80% {
    background-image: url('../assets/character/Idle_1.png');
  }
  85% {
    background-image: url('../assets/character/Idle_2.png');
  }
  90% {
    background-image: url('../assets/character/Idle_3.png');
  }
  100% {
    background-image: url('../assets/character/Idle_4.png');
  }

}

@keyframes handPointer{
  0% {
    background-image: url('../assets/character/Hand1.png');
  }
  20% {
    background-image: url('../assets/character/Hand2.png');
  }
  30% {
    background-image: url('../assets/character/Hand3.png');
  }
  40% {
    background-image: url('../assets/character/Hand4.png');
  }
  50% {
    background-image: url('../assets/character/Hand5.png');
  }
  60% {
    background-image: url('../assets/character/Hand4.png');
  }
  70% {
    background-image: url('../assets/character/Hand3.png');
  }
  80% {
    background-image: url('../assets/character/Hand2.png');
  }
  100% {
    background-image: url('../assets/character/Hand1.png');
  }

}

@keyframes moveToProjectFour{
  0% {
    top:11rem;
    left: 21rem;
    background-image: url('../assets/character/Walk1.png');
  }
  10% {
    background-image: url('../assets/character/Walk2.png');
  }
  15% {

    background-image: url('../assets/character/Walk3.png');
  }
  20% {
    background-image: url('../assets/character/Walk4.png');
  }
  25% {
    background-image: url('../assets/character/Walk5.png');
  }
  30% {
    top:10rem;
    left: 25rem;
    background-image: url('../assets/character/Walk6.png');
  }
  35% {
    background-image: url('../assets/character/Walk7.png');
  }
  40% {
    background-image: url('../assets/character/Walk8.png');
  }
  45% {
    background-image: url('../assets/character/Walk9.png');
  }
  50% {
    background-image: url('../assets/character/Walk10.png');
  }
  55% {
    background-image: url('../assets/character/Walk11.png');
  }
  60% {
    top:7rem;
    left: 32rem;
    background-image: url('../assets/character/Walk12.png');
  }
  65% {
    background-image: url('../assets/character/Walk13.png');
  }
  70% {
    background-image: url('../assets/character/Walk14.png');
  }
  75% {
    background-image: url('../assets/character/Walk15.png');
  }
  80% {
    background-image: url('../assets/character/Walk16.png');
  }
  85% {
    background-image: url('../assets/character/Walk17.png');
  }
  90% {
    background-image: url('../assets/character/Walk18.png');
  }
  100% {
    top:5rem;
    left: 42rem;
    background-image: url('../assets/character/Walk19.png');
  }

}

@keyframes moveToProjectTwo{
  0% {
    top:5rem;
    left: 42rem;
    background-image: url('../assets/character/Walk1.png');
  }
  10% {
    background-image: url('../assets/character/Walk2.png');
  }
  15% {

    background-image: url('../assets/character/Walk3.png');
  }
  20% {
    background-image: url('../assets/character/Walk4.png');
  }
  25% {
    background-image: url('../assets/character/Walk5.png');
  }
  30% {
    top:10rem;
    left: 39rem;
    background-image: url('../assets/character/Walk6.png');
  }
  35% {
    background-image: url('../assets/character/Walk7.png');
  }
  40% {
    background-image: url('../assets/character/Walk8.png');
  }
  45% {
    background-image: url('../assets/character/Walk9.png');
  }
  50% {
    top:17rem;

    background-image: url('../assets/character/Walk10.png');
  }
  55% {
    background-image: url('../assets/character/Walk11.png');
  }
  60% {
    top:19rem;
    left: 35rem;
    background-image: url('../assets/character/Walk12.png');
  }
  65% {
    top:23rem;
    left: 34rem;
    background-image: url('../assets/character/Walk13.png');
  }
  70% {
    background-image: url('../assets/character/Walk14.png');
  }
  75% {
    top:24rem;
    left: 32rem;
    background-image: url('../assets/character/Walk15.png');
  }
  80% {
    background-image: url('../assets/character/Walk16.png');
  }
  85% {
    //top:22rem;
    //left: 44rem;
    background-image: url('../assets/character/Walk17.png');
  }
  90% {
    background-image: url('../assets/character/Walk18.png');
  }
  100% {
    top:29rem;
    left:23rem;
    background-image: url('../assets/character/Walk19.png');
  }

}

@keyframes moveToProjectFifeTillStopPoint{
  0% {
    top:29rem;
    left:23rem;
    background-image: url('../assets/character/Walk1.png');
  }
  10% {
    background-image: url('../assets/character/Walk2.png');
  }
  20% {
    top:32rem;
    left: 17rem;
    background-image: url('../assets/character/Walk3.png');
  }
  30% {
    background-image: url('../assets/character/Walk5.png');
  }
  40% {
    top:33rem;
    left: 12rem;
    background-image: url('../assets/character/Walk7.png');
  }
  50% {
    top:34rem;
    left: 10rem;
    background-image: url('../assets/character/Walk9.png');
  }
  60% {
    top:35rem;
    left: 10rem;
    background-image: url('../assets/character/Walk11.png');
  }
  70% {
    top:36rem;
    left: 11rem;

    background-image: url('../assets/character/Walk13.png');
  }
  800% {
    top:39rem;
    left: 12rem;

    background-image: url('../assets/character/Walk15.png');
  }
  90% {
    top:41rem;
    left: 13rem;

    background-image: url('../assets/character/Walk17.png');
  }
  100% {
    top:44rem;
    left: 14rem;
    background-image: url('../assets/character/Walk20.png');
  }



}

@keyframes moveToProjectFifeFromStopPoint{
  0% {
    top:44rem;
    left: 14rem;
    background-image: url('../assets/character/Walk1.png');
  }
  10% {
    top:43rem;
    left: 15rem;
    background-image: url('../assets/character/Walk2.png');
  }
  15% {
    top:43rem;
    left: 20rem;
    background-image: url('../assets/character/Walk3.png');
  }
  20% {
    top:42rem;
    left: 23rem;
    background-image: url('../assets/character/Walk4.png');
  }
  25% {
    top:42rem;
    left: 27rem;
    background-image: url('../assets/character/Walk5.png');
  }
  30% {
    top:42rem;
    left: 29rem;
    background-image: url('../assets/character/Walk6.png');
  }
  35% {
    top:42rem;
    left: 31rem;
    background-image: url('../assets/character/Walk7.png');
  }
  40% {
    top:42rem;
    left: 33rem;
    background-image: url('../assets/character/Walk8.png');
  }
  45% {
    background-image: url('../assets/character/Walk9.png');
  }
  50% {
    top:42rem;
    left: 36rem;
    background-image: url('../assets/character/Walk10.png');
  }
  55% {
    background-image: url('../assets/character/Walk11.png');
  }
  60% {
    top:42rem;
    left: 40rem;
    background-image: url('../assets/character/Walk12.png');
  }
  65% {
    top:41rem;
    left: 45rem;
    background-image: url('../assets/character/Walk13.png');
  }
  70% {
    top:39rem;
    left: 47rem;
    background-image: url('../assets/character/Walk14.png');
  }
  75% {
    top:37rem;
    left: 52rem;
    background-image: url('../assets/character/Walk15.png');
  }
  80% {
    top:37rem;
    left: 53rem;
    background-image: url('../assets/character/Walk16.png');
  }
  85% {
    top:36rem;
    left: 54rem;
    background-image: url('../assets/character/Walk17.png');
  }
  90% {
    top:36rem;
    left: 55rem;
    background-image: url('../assets/character/Walk18.png');
  }
  100% {
    top:35rem;
    left:56rem;
    background-image: url('../assets/character/Walk19.png');
  }

}


@keyframes moveToProjectSeven{
  0% {
    top:35rem;
    left:56rem;
    background-image: url('../assets/character/Walk1.png');
  }
  10% {

    background-image: url('../assets/character/Walk2.png');
  }
  15% {

    background-image: url('../assets/character/Walk3.png');
  }
  20% {

    background-image: url('../assets/character/Walk4.png');
  }
  25% {

    background-image: url('../assets/character/Walk5.png');
  }
  30% {

    background-image: url('../assets/character/Walk6.png');
  }
  35% {

    background-image: url('../assets/character/Walk7.png');
  }
  40% {

    background-image: url('../assets/character/Walk8.png');
  }
  45% {
    background-image: url('../assets/character/Walk9.png');
  }
  50% {

    background-image: url('../assets/character/Walk10.png');
  }
  55% {
    background-image: url('../assets/character/Walk11.png');
  }
  60% {

    background-image: url('../assets/character/Walk12.png');
  }
  65% {

    background-image: url('../assets/character/Walk13.png');
  }
  70% {
    top:18rem;
    left:82rem;
    background-image: url('../assets/character/Walk14.png');
  }
  75% {

    background-image: url('../assets/character/Walk15.png');
  }
  80% {

    background-image: url('../assets/character/Walk16.png');
  }
  85% {

    background-image: url('../assets/character/Walk17.png');
  }
  90% {

    background-image: url('../assets/character/Walk18.png');
  }
  100% {
    top:5rem;
    left:82rem;
    background-image: url('../assets/character/Walk19.png');
  }

}