.main-container {
  .road-one {

    .col-left {
      position: relative;

      .project-one {
        position: absolute;
        margin-left: 8rem;

        .project-snippet {
          background-image: url('../assets/CarSharing.png');
        }

      }

      .pointer-one {
        position: absolute;
        top: 16rem;
        left: 11rem;

      }


      .project-two {
        position: absolute;
        top: 26rem;
        left: 5rem;


        .project-snippet {
          background-image: url('../assets/BestShop.png');
        }


      }

      .pointer-two {
        position: absolute;
        top: 42rem;
        left: 8rem;

      }


      .project-three {
        position: absolute;
        bottom: 2rem;
        left: 3rem;
      }

      .pointer-three {
        position: absolute;
        bottom: 8rem;
        left: 6rem;

      }

    }

    .col-middle {
      position: relative;

      .project-four {
        position: absolute;
        left: 9rem;

        .project-snippet {
          background-image: url('../assets/Verti.png');
        }

      }

      .pointer-four {
        position: absolute;
        top: 8rem;
        left: 12rem;
      }


      .project-fife {
        position: absolute;
        top: 28rem;
        left: 23rem;

        .project-snippet {
          background-image: url('../assets/Baloons.png');
        }
      }

      .pointer-fife {
        position: absolute;
        top: 35rem;
        left: 26rem;
      }

      .project-six {
        position: absolute;
        bottom: 3rem;
        left: 3rem;

      }

      .pointer-six {
        position: absolute;
        bottom: 20rem;
        left: 6rem;
      }

    }

    .col-right {
      position: relative;

      .project-seven {
        position: absolute;
        left: 6rem;

        .project-snippet {
          background-image: url('../assets/ReadApp.png');
        }
      }

      .pointer-seven {
        position: absolute;
        top: 6rem;
        left: 10rem;
      }

      .project-eight {
        position: absolute;
        top: 32rem;
        right:0.5rem;

        .project-snippet {
          background-image: url('../assets/ShootingGame.png');
        }
      }

      .pointer-eight {
        position: absolute;
        top: 45rem;
        right: 15rem;
      }

      .project-nine {
        position: absolute;
        bottom: 2rem;
        left: 1rem;

        .project-snippet {
          background-image: url('../assets/HiIceland.png');
        }

      }

      .pointer-nine {
        position: absolute;
        bottom: 7rem;
        left: 4rem;
      }
    }
  }

  .what-next {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    width: 100%;
    height: 8rem;
  }

  .road-two {
    width: 100%;
    height: 1536px;
    background-image: url('../assets/background/Map2.1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    animation-name: boat;
    animation-duration: 3s;

  }
}
