.main-container .parallel {
  overflow-x: hidden;
  width: 100%;
  height: 1536px;
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.main-container .parallel .parallel-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}
.main-container .parallel .back-two {
  z-index: 1;
}
.main-container .parallel .back-three {
  z-index: 2;
}
.main-container .parallel .back-four {
  z-index: 3;
  transform: scale(-1, 1);
}
.main-container .parallel .back-fife {
  z-index: 4;
}
.main-container .parallel .back-six {
  z-index: 5;
}
.main-container .parallel .back-seven {
  z-index: 5;
}
.main-container .view-one {
  margin-bottom: 0;
}
.main-container .view-one .say-something {
  font-size: 4vh;
  letter-spacing: 1rem;
  line-height: 1.75em;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Rancho", cursive;
  margin-right: 12rem;
  position: absolute;
  color: rgba(255, 192, 203, 0.52);
  text-align: center;
  z-index: 100;
}
.main-container .view-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #6e5355, transparent);
  z-index: 10;
}
.main-container .view-two {
  margin-top: 0;
}
.main-container .view-two .story {
  margin-right: 12rem;
  position: absolute;
  color: rgba(255, 192, 203, 0.52);
  font-size: 4vh;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  z-index: 100;
}
.main-container .view-two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, #6e5355, transparent);
  z-index: 10;
}

body {
  background-color: rgba(151, 181, 243, 0.82);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-container {
  width: 2048px;
  height: 10000px;
}
body .main-container .road-one {
  width: 100%;
  height: 1536px;
  background-image: url("../assets/background/Map1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
}
body .main-container .road-one .col {
  width: 33.3%;
  display: flex;
  flex-direction: column;
}
body .main-container .road-one .project {
  width: 18.75rem;
  height: 25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(200, 234, 159, 0.38);
  border-radius: 7rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
body .main-container .road-one .project .project-snippet {
  height: 170px;
  width: 200px;
  border-top-left-radius: 7rem;
  border-top-right-radius: 7rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
body .main-container .road-one .project .project-snippet:hover {
  width: 18.75rem;
  height: 25rem;
  border-radius: 50%;
  border-top-left-radius: 7rem;
  border-top-right-radius: 7rem;
  filter: none;
  -webkit-filter: none;
  cursor: pointer;
}
body .main-container .road-one .project .project-title {
  font-size: 2rem;
}
body .main-container .road-one .project .stack-tech {
  border: 1px solid red;
  height: 70px;
  width: 200px;
}
body .main-container .road-two {
  width: 100%;
  height: 1536px;
  background-image: url("../assets/background/Map2.1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

@-webkit-keyframes boat {
  0% {
    background-image: url("../assets/background/Map2.1.jpg");
  }
  10% {
    background-image: url("../assets/background/Map2.2.jpg");
  }
  15% {
    background-image: url("../assets/background/Map2.3.jpg");
  }
  20% {
    background-image: url("../assets/background/Map2.4.jpg");
  }
  25% {
    background-image: url("../assets/background/Map2.5.jpg");
  }
  30% {
    background-image: url("../assets/background/Map2.6.jpg");
  }
  35% {
    background-image: url("../assets/background/Map2.7.jpg");
  }
  40% {
    background-image: url("../assets/background/Map2.8.jpg");
  }
  45% {
    background-image: url("../assets/background/Map2.9.jpg");
  }
  50% {
    background-image: url("../assets/background/Map3.0.jpg");
  }
  55% {
    background-image: url("../assets/background/Map3.1.jpg");
  }
  60% {
    background-image: url("../assets/background/Map3.2.jpg");
  }
  65% {
    background-image: url("../assets/background/Map3.3.jpg");
  }
  70% {
    background-image: url("../assets/background/Map3.4.jpg");
  }
  75% {
    background-image: url("../assets/background/Map3.5.jpg");
  }
  80% {
    background-image: url("../assets/background/Map3.6.jpg");
  }
  85% {
    background-image: url("../assets/background/Map3.7.jpg");
  }
  90% {
    background-image: url("../assets/background/Map3.8.jpg");
  }
  100% {
    background-image: url("../assets/background/Map3.9.jpg");
  }
}

@keyframes boat {
  0% {
    background-image: url("../assets/background/Map2.1.jpg");
  }
  10% {
    background-image: url("../assets/background/Map2.2.jpg");
  }
  15% {
    background-image: url("../assets/background/Map2.3.jpg");
  }
  20% {
    background-image: url("../assets/background/Map2.4.jpg");
  }
  25% {
    background-image: url("../assets/background/Map2.5.jpg");
  }
  30% {
    background-image: url("../assets/background/Map2.6.jpg");
  }
  35% {
    background-image: url("../assets/background/Map2.7.jpg");
  }
  40% {
    background-image: url("../assets/background/Map2.8.jpg");
  }
  45% {
    background-image: url("../assets/background/Map2.9.jpg");
  }
  50% {
    background-image: url("../assets/background/Map3.0.jpg");
  }
  55% {
    background-image: url("../assets/background/Map3.1.jpg");
  }
  60% {
    background-image: url("../assets/background/Map3.2.jpg");
  }
  65% {
    background-image: url("../assets/background/Map3.3.jpg");
  }
  70% {
    background-image: url("../assets/background/Map3.4.jpg");
  }
  75% {
    background-image: url("../assets/background/Map3.5.jpg");
  }
  80% {
    background-image: url("../assets/background/Map3.6.jpg");
  }
  85% {
    background-image: url("../assets/background/Map3.7.jpg");
  }
  90% {
    background-image: url("../assets/background/Map3.8.jpg");
  }
  100% {
    background-image: url("../assets/background/Map3.9.jpg");
  }
}
.main-container .road-one .col-left {
  position: relative;
}
.main-container .road-one .col-left .project-one {
  position: absolute;
  margin-left: 8rem;
}
.main-container .road-one .col-left .project-one .project-snippet {
  background-image: url("../assets/CarSharing.png");
}
.main-container .road-one .col-left .pointer-one {
  position: absolute;
  top: 16rem;
  left: 11rem;
}
.main-container .road-one .col-left .pointer-one:hover .arrow-one {
  top: -4rem;
  left: 1rem;
}
.main-container .road-one .col-left .pointer-one .arrow-one {
  top: -6rem;
  left: -1rem;
  background-image: url("../assets/arrows/pngs/tap.png");
  transform: rotate(180deg);
  transition: 0.5s;
}
.main-container .road-one .col-left .project-two {
  position: absolute;
  top: 26rem;
  left: 5rem;
}
.main-container .road-one .col-left .project-two .project-snippet {
  background-image: url("../assets/BestShop.png");
}
.main-container .road-one .col-left .pointer-two {
  position: absolute;
  top: 42rem;
  left: 8rem;
}
.main-container .road-one .col-left .pointer-two:hover .arrow-two {
  top: -5rem;
  left: 7rem;
}
.main-container .road-one .col-left .pointer-two .arrow-two {
  top: -7rem;
  left: 9rem;
  background-image: url("../assets/arrows/pngs/tap.png");
  transform: rotate(270deg);
  transition: 0.5s;
}
.main-container .road-one .col-left .project-three {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
}
.main-container .road-one .col-left .pointer-three {
  position: absolute;
  bottom: 8rem;
  left: 6rem;
}
.main-container .road-one .col-left .pointer-three:hover .arrow-three {
  top: -5rem;
  left: 2rem;
}
.main-container .road-one .col-left .pointer-three .arrow-three {
  top: -8rem;
  left: 0;
  background-image: url("../assets/arrows/pngs/tap.png");
  transform: rotate(180deg);
  transition: 0.25s;
}
.main-container .road-one .col-middle {
  position: relative;
}
.main-container .road-one .col-middle .project-four {
  position: absolute;
  left: 9rem;
}
.main-container .road-one .col-middle .project-four .project-snippet {
  background-image: url("../assets/Verti.png");
}
.main-container .road-one .col-middle .pointer-four {
  position: absolute;
  top: 8rem;
  left: 12rem;
}
.main-container .road-one .col-middle .pointer-four:hover .arrow-four {
  top: 0;
  left: 1rem;
}
.main-container .road-one .col-middle .pointer-four .arrow-four {
  top: 3rem;
  left: 0;
  background-image: url("../assets/arrows/pngs/tap.png");
  transform: rotate(90deg);
  transition: 0.25s;
}
.main-container .road-one .col-middle .project-fife {
  position: absolute;
  top: 28rem;
  left: 23rem;
}
.main-container .road-one .col-middle .project-fife .project-snippet {
  background-image: url("../assets/Baloons.png");
}
.main-container .road-one .col-middle .pointer-fife {
  position: absolute;
  top: 35rem;
  left: 26rem;
}
.main-container .road-one .col-middle .pointer-fife:hover .arrow-fife {
  top: -6rem;
  left: 7rem;
}
.main-container .road-one .col-middle .pointer-fife .arrow-fife {
  top: -8rem;
  left: 9rem;
  background-image: url("../assets/arrows/pngs/tap.png");
  transform: rotate(260deg);
  transition: 0.25s;
}
.main-container .road-one .col-middle .project-six {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}
.main-container .road-one .col-middle .pointer-six {
  position: absolute;
  bottom: 20rem;
  left: 6rem;
}
.main-container .road-one .col-middle .pointer-six:hover .arrow-six {
  top: -6rem;
  left: 7rem;
}
.main-container .road-one .col-middle .pointer-six .arrow-six {
  top: -7rem;
  left: 9rem;
  background-image: url("../assets/arrows/pngs/tap.png");
  transform: rotate(270deg);
  transition: 0.25s;
}
.main-container .road-one .col-right {
  position: relative;
}
.main-container .road-one .col-right .project-seven {
  position: absolute;
  left: 6rem;
}
.main-container .road-one .col-right .project-seven .project-snippet {
  background-image: url("../assets/ReadApp.png");
}
.main-container .road-one .col-right .pointer-seven {
  position: absolute;
  top: 6rem;
  left: 10rem;
}
.main-container .road-one .col-right .pointer-seven:hover .arrow-seven {
  top: 1rem;
  left: -1rem;
}
.main-container .road-one .col-right .pointer-seven .arrow-seven {
  top: 3rem;
  left: -2rem;
  background-image: url("../assets/arrows/pngs/tap.png");
  transform: rotate(90deg);
  transition: 0.25s;
}
.main-container .road-one .col-right .project-eight {
  position: absolute;
  top: 32rem;
  right: 0.5rem;
}
.main-container .road-one .col-right .project-eight .project-snippet {
  background-image: url("../assets/ShootingGame.png");
}
.main-container .road-one .col-right .pointer-eight {
  position: absolute;
  top: 45rem;
  right: 15rem;
}
.main-container .road-one .col-right .pointer-eight:hover .arrow-eight {
  top: -5rem;
  left: 1rem;
}
.main-container .road-one .col-right .pointer-eight .arrow-eight {
  top: -7rem;
  left: -1rem;
  background-image: url("../assets/arrows/pngs/tap.png");
  transform: rotate(180deg);
  transition: 0.25s;
}
.main-container .road-one .col-right .project-nine {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
}
.main-container .road-one .col-right .project-nine .project-snippet {
  background-image: url("../assets/HiIceland.png");
}
.main-container .road-one .col-right .pointer-nine {
  position: absolute;
  bottom: 7rem;
  left: 4rem;
}
.main-container .road-one .col-right .pointer-nine:hover .arrow-nine {
  top: -5rem;
  left: 7rem;
}
.main-container .road-one .col-right .pointer-nine .arrow-nine {
  top: -7rem;
  left: 10rem;
  background-image: url("../assets/arrows/pngs/tap.png");
  transform: rotate(270deg);
  transition: 0.25s;
}
.main-container .what-next {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  width: 100%;
  height: 8rem;
}

.pointer-element {
  cursor: pointer;
}
.pointer-element .pointer {
  position: relative;
}
.pointer-element .pointer span {
  position: absolute;
  height: 2px;
  top: 0;
  width: 100px;
  transform-origin: right;
  transform: rotate(calc(18deg * var(--i)));
}
.pointer-element .pointer span::before {
  content: "";
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  background: #e7e7b4;
  border-radius: 50%;
  -webkit-animation: projects_pointer 2s linear infinite;
          animation: projects_pointer 2s linear infinite;
  -webkit-animation-delay: calc(-0.5s * var(--i));
          animation-delay: calc(-0.5s * var(--i));
  box-shadow: 0 0 10px #e7e7b4, 0 0 20px #e7e7b4, 0 0 40px #e7e7b4, 0 0 60px #e7e7b4, 0 0 80px #e7e7b4, 0 0 100px #e7e7b4;
}
.pointer-element .pointer-arrow {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@-webkit-keyframes projects_pointer {
  0% {
    transform: translateX(0) scale(0.5);
  }
  50% {
    transform: translateX(150px) scale(1);
  }
  100% {
    transform: translateX(0) scale(0.5);
  }
}

@keyframes projects_pointer {
  0% {
    transform: translateX(0) scale(0.5);
  }
  50% {
    transform: translateX(150px) scale(1);
  }
  100% {
    transform: translateX(0) scale(0.5);
  }
}
@-webkit-keyframes basePose {
  0% {
    background-image: url("../assets/character/Idle_1.png");
  }
  10% {
    background-image: url("../assets/character/Idle_2.png");
  }
  15% {
    background-image: url("../assets/character/Idle_3.png");
  }
  20% {
    background-image: url("../assets/character/Idle_4.png");
  }
  25% {
    background-image: url("../assets/character/Idle_5.png");
  }
  30% {
    background-image: url("../assets/character/Idle_6.png");
  }
  35% {
    background-image: url("../assets/character/Idle_7.png");
  }
  40% {
    background-image: url("../assets/character/Idle_8.png");
  }
  45% {
    background-image: url("../assets/character/Idle_9.png");
  }
  50% {
    background-image: url("../assets/character/Idle_10.png");
  }
  55% {
    background-image: url("../assets/character/Idle_11.png");
  }
  60% {
    background-image: url("../assets/character/Idle_12.png");
  }
  65% {
    background-image: url("../assets/character/Idle_13.png");
  }
  70% {
    background-image: url("../assets/character/Idle_14.png");
  }
  75% {
    background-image: url("../assets/character/Idle_15.png");
  }
  80% {
    background-image: url("../assets/character/Idle_1.png");
  }
  85% {
    background-image: url("../assets/character/Idle_2.png");
  }
  90% {
    background-image: url("../assets/character/Idle_3.png");
  }
  100% {
    background-image: url("../assets/character/Idle_4.png");
  }
}
@keyframes basePose {
  0% {
    background-image: url("../assets/character/Idle_1.png");
  }
  10% {
    background-image: url("../assets/character/Idle_2.png");
  }
  15% {
    background-image: url("../assets/character/Idle_3.png");
  }
  20% {
    background-image: url("../assets/character/Idle_4.png");
  }
  25% {
    background-image: url("../assets/character/Idle_5.png");
  }
  30% {
    background-image: url("../assets/character/Idle_6.png");
  }
  35% {
    background-image: url("../assets/character/Idle_7.png");
  }
  40% {
    background-image: url("../assets/character/Idle_8.png");
  }
  45% {
    background-image: url("../assets/character/Idle_9.png");
  }
  50% {
    background-image: url("../assets/character/Idle_10.png");
  }
  55% {
    background-image: url("../assets/character/Idle_11.png");
  }
  60% {
    background-image: url("../assets/character/Idle_12.png");
  }
  65% {
    background-image: url("../assets/character/Idle_13.png");
  }
  70% {
    background-image: url("../assets/character/Idle_14.png");
  }
  75% {
    background-image: url("../assets/character/Idle_15.png");
  }
  80% {
    background-image: url("../assets/character/Idle_1.png");
  }
  85% {
    background-image: url("../assets/character/Idle_2.png");
  }
  90% {
    background-image: url("../assets/character/Idle_3.png");
  }
  100% {
    background-image: url("../assets/character/Idle_4.png");
  }
}
@-webkit-keyframes handPointer {
  0% {
    background-image: url("../assets/character/Hand1.png");
  }
  20% {
    background-image: url("../assets/character/Hand2.png");
  }
  30% {
    background-image: url("../assets/character/Hand3.png");
  }
  40% {
    background-image: url("../assets/character/Hand4.png");
  }
  50% {
    background-image: url("../assets/character/Hand5.png");
  }
  60% {
    background-image: url("../assets/character/Hand4.png");
  }
  70% {
    background-image: url("../assets/character/Hand3.png");
  }
  80% {
    background-image: url("../assets/character/Hand2.png");
  }
  100% {
    background-image: url("../assets/character/Hand1.png");
  }
}
@keyframes handPointer {
  0% {
    background-image: url("../assets/character/Hand1.png");
  }
  20% {
    background-image: url("../assets/character/Hand2.png");
  }
  30% {
    background-image: url("../assets/character/Hand3.png");
  }
  40% {
    background-image: url("../assets/character/Hand4.png");
  }
  50% {
    background-image: url("../assets/character/Hand5.png");
  }
  60% {
    background-image: url("../assets/character/Hand4.png");
  }
  70% {
    background-image: url("../assets/character/Hand3.png");
  }
  80% {
    background-image: url("../assets/character/Hand2.png");
  }
  100% {
    background-image: url("../assets/character/Hand1.png");
  }
}
@-webkit-keyframes moveToProjectFour {
  0% {
    top: 11rem;
    left: 21rem;
    background-image: url("../assets/character/Walk1.png");
  }
  10% {
    background-image: url("../assets/character/Walk2.png");
  }
  15% {
    background-image: url("../assets/character/Walk3.png");
  }
  20% {
    background-image: url("../assets/character/Walk4.png");
  }
  25% {
    background-image: url("../assets/character/Walk5.png");
  }
  30% {
    top: 10rem;
    left: 25rem;
    background-image: url("../assets/character/Walk6.png");
  }
  35% {
    background-image: url("../assets/character/Walk7.png");
  }
  40% {
    background-image: url("../assets/character/Walk8.png");
  }
  45% {
    background-image: url("../assets/character/Walk9.png");
  }
  50% {
    background-image: url("../assets/character/Walk10.png");
  }
  55% {
    background-image: url("../assets/character/Walk11.png");
  }
  60% {
    top: 7rem;
    left: 32rem;
    background-image: url("../assets/character/Walk12.png");
  }
  65% {
    background-image: url("../assets/character/Walk13.png");
  }
  70% {
    background-image: url("../assets/character/Walk14.png");
  }
  75% {
    background-image: url("../assets/character/Walk15.png");
  }
  80% {
    background-image: url("../assets/character/Walk16.png");
  }
  85% {
    background-image: url("../assets/character/Walk17.png");
  }
  90% {
    background-image: url("../assets/character/Walk18.png");
  }
  100% {
    top: 5rem;
    left: 42rem;
    background-image: url("../assets/character/Walk19.png");
  }
}
@keyframes moveToProjectFour {
  0% {
    top: 11rem;
    left: 21rem;
    background-image: url("../assets/character/Walk1.png");
  }
  10% {
    background-image: url("../assets/character/Walk2.png");
  }
  15% {
    background-image: url("../assets/character/Walk3.png");
  }
  20% {
    background-image: url("../assets/character/Walk4.png");
  }
  25% {
    background-image: url("../assets/character/Walk5.png");
  }
  30% {
    top: 10rem;
    left: 25rem;
    background-image: url("../assets/character/Walk6.png");
  }
  35% {
    background-image: url("../assets/character/Walk7.png");
  }
  40% {
    background-image: url("../assets/character/Walk8.png");
  }
  45% {
    background-image: url("../assets/character/Walk9.png");
  }
  50% {
    background-image: url("../assets/character/Walk10.png");
  }
  55% {
    background-image: url("../assets/character/Walk11.png");
  }
  60% {
    top: 7rem;
    left: 32rem;
    background-image: url("../assets/character/Walk12.png");
  }
  65% {
    background-image: url("../assets/character/Walk13.png");
  }
  70% {
    background-image: url("../assets/character/Walk14.png");
  }
  75% {
    background-image: url("../assets/character/Walk15.png");
  }
  80% {
    background-image: url("../assets/character/Walk16.png");
  }
  85% {
    background-image: url("../assets/character/Walk17.png");
  }
  90% {
    background-image: url("../assets/character/Walk18.png");
  }
  100% {
    top: 5rem;
    left: 42rem;
    background-image: url("../assets/character/Walk19.png");
  }
}
@-webkit-keyframes moveToProjectTwo {
  0% {
    top: 5rem;
    left: 42rem;
    background-image: url("../assets/character/Walk1.png");
  }
  10% {
    background-image: url("../assets/character/Walk2.png");
  }
  15% {
    background-image: url("../assets/character/Walk3.png");
  }
  20% {
    background-image: url("../assets/character/Walk4.png");
  }
  25% {
    background-image: url("../assets/character/Walk5.png");
  }
  30% {
    top: 10rem;
    left: 39rem;
    background-image: url("../assets/character/Walk6.png");
  }
  35% {
    background-image: url("../assets/character/Walk7.png");
  }
  40% {
    background-image: url("../assets/character/Walk8.png");
  }
  45% {
    background-image: url("../assets/character/Walk9.png");
  }
  50% {
    top: 17rem;
    background-image: url("../assets/character/Walk10.png");
  }
  55% {
    background-image: url("../assets/character/Walk11.png");
  }
  60% {
    top: 19rem;
    left: 35rem;
    background-image: url("../assets/character/Walk12.png");
  }
  65% {
    top: 23rem;
    left: 34rem;
    background-image: url("../assets/character/Walk13.png");
  }
  70% {
    background-image: url("../assets/character/Walk14.png");
  }
  75% {
    top: 24rem;
    left: 32rem;
    background-image: url("../assets/character/Walk15.png");
  }
  80% {
    background-image: url("../assets/character/Walk16.png");
  }
  85% {
    background-image: url("../assets/character/Walk17.png");
  }
  90% {
    background-image: url("../assets/character/Walk18.png");
  }
  100% {
    top: 29rem;
    left: 23rem;
    background-image: url("../assets/character/Walk19.png");
  }
}
@keyframes moveToProjectTwo {
  0% {
    top: 5rem;
    left: 42rem;
    background-image: url("../assets/character/Walk1.png");
  }
  10% {
    background-image: url("../assets/character/Walk2.png");
  }
  15% {
    background-image: url("../assets/character/Walk3.png");
  }
  20% {
    background-image: url("../assets/character/Walk4.png");
  }
  25% {
    background-image: url("../assets/character/Walk5.png");
  }
  30% {
    top: 10rem;
    left: 39rem;
    background-image: url("../assets/character/Walk6.png");
  }
  35% {
    background-image: url("../assets/character/Walk7.png");
  }
  40% {
    background-image: url("../assets/character/Walk8.png");
  }
  45% {
    background-image: url("../assets/character/Walk9.png");
  }
  50% {
    top: 17rem;
    background-image: url("../assets/character/Walk10.png");
  }
  55% {
    background-image: url("../assets/character/Walk11.png");
  }
  60% {
    top: 19rem;
    left: 35rem;
    background-image: url("../assets/character/Walk12.png");
  }
  65% {
    top: 23rem;
    left: 34rem;
    background-image: url("../assets/character/Walk13.png");
  }
  70% {
    background-image: url("../assets/character/Walk14.png");
  }
  75% {
    top: 24rem;
    left: 32rem;
    background-image: url("../assets/character/Walk15.png");
  }
  80% {
    background-image: url("../assets/character/Walk16.png");
  }
  85% {
    background-image: url("../assets/character/Walk17.png");
  }
  90% {
    background-image: url("../assets/character/Walk18.png");
  }
  100% {
    top: 29rem;
    left: 23rem;
    background-image: url("../assets/character/Walk19.png");
  }
}
@-webkit-keyframes moveToProjectFifeTillStopPoint {
  0% {
    top: 29rem;
    left: 23rem;
    background-image: url("../assets/character/Walk1.png");
  }
  10% {
    background-image: url("../assets/character/Walk2.png");
  }
  20% {
    top: 32rem;
    left: 17rem;
    background-image: url("../assets/character/Walk3.png");
  }
  30% {
    background-image: url("../assets/character/Walk5.png");
  }
  40% {
    top: 33rem;
    left: 12rem;
    background-image: url("../assets/character/Walk7.png");
  }
  50% {
    top: 34rem;
    left: 10rem;
    background-image: url("../assets/character/Walk9.png");
  }
  60% {
    top: 35rem;
    left: 10rem;
    background-image: url("../assets/character/Walk11.png");
  }
  70% {
    top: 36rem;
    left: 11rem;
    background-image: url("../assets/character/Walk13.png");
  }
  800% {
    top: 39rem;
    left: 12rem;
    background-image: url("../assets/character/Walk15.png");
  }
  90% {
    top: 41rem;
    left: 13rem;
    background-image: url("../assets/character/Walk17.png");
  }
  100% {
    top: 44rem;
    left: 14rem;
    background-image: url("../assets/character/Walk20.png");
  }
}
@keyframes moveToProjectFifeTillStopPoint {
  0% {
    top: 29rem;
    left: 23rem;
    background-image: url("../assets/character/Walk1.png");
  }
  10% {
    background-image: url("../assets/character/Walk2.png");
  }
  20% {
    top: 32rem;
    left: 17rem;
    background-image: url("../assets/character/Walk3.png");
  }
  30% {
    background-image: url("../assets/character/Walk5.png");
  }
  40% {
    top: 33rem;
    left: 12rem;
    background-image: url("../assets/character/Walk7.png");
  }
  50% {
    top: 34rem;
    left: 10rem;
    background-image: url("../assets/character/Walk9.png");
  }
  60% {
    top: 35rem;
    left: 10rem;
    background-image: url("../assets/character/Walk11.png");
  }
  70% {
    top: 36rem;
    left: 11rem;
    background-image: url("../assets/character/Walk13.png");
  }
  800% {
    top: 39rem;
    left: 12rem;
    background-image: url("../assets/character/Walk15.png");
  }
  90% {
    top: 41rem;
    left: 13rem;
    background-image: url("../assets/character/Walk17.png");
  }
  100% {
    top: 44rem;
    left: 14rem;
    background-image: url("../assets/character/Walk20.png");
  }
}
@-webkit-keyframes moveToProjectFifeFromStopPoint {
  0% {
    top: 44rem;
    left: 14rem;
    background-image: url("../assets/character/Walk1.png");
  }
  10% {
    top: 43rem;
    left: 15rem;
    background-image: url("../assets/character/Walk2.png");
  }
  15% {
    top: 43rem;
    left: 20rem;
    background-image: url("../assets/character/Walk3.png");
  }
  20% {
    top: 42rem;
    left: 23rem;
    background-image: url("../assets/character/Walk4.png");
  }
  25% {
    top: 42rem;
    left: 27rem;
    background-image: url("../assets/character/Walk5.png");
  }
  30% {
    top: 42rem;
    left: 29rem;
    background-image: url("../assets/character/Walk6.png");
  }
  35% {
    top: 42rem;
    left: 31rem;
    background-image: url("../assets/character/Walk7.png");
  }
  40% {
    top: 42rem;
    left: 33rem;
    background-image: url("../assets/character/Walk8.png");
  }
  45% {
    background-image: url("../assets/character/Walk9.png");
  }
  50% {
    top: 42rem;
    left: 36rem;
    background-image: url("../assets/character/Walk10.png");
  }
  55% {
    background-image: url("../assets/character/Walk11.png");
  }
  60% {
    top: 42rem;
    left: 40rem;
    background-image: url("../assets/character/Walk12.png");
  }
  65% {
    top: 41rem;
    left: 45rem;
    background-image: url("../assets/character/Walk13.png");
  }
  70% {
    top: 39rem;
    left: 47rem;
    background-image: url("../assets/character/Walk14.png");
  }
  75% {
    top: 37rem;
    left: 52rem;
    background-image: url("../assets/character/Walk15.png");
  }
  80% {
    top: 37rem;
    left: 53rem;
    background-image: url("../assets/character/Walk16.png");
  }
  85% {
    top: 36rem;
    left: 54rem;
    background-image: url("../assets/character/Walk17.png");
  }
  90% {
    top: 36rem;
    left: 55rem;
    background-image: url("../assets/character/Walk18.png");
  }
  100% {
    top: 35rem;
    left: 56rem;
    background-image: url("../assets/character/Walk19.png");
  }
}
@keyframes moveToProjectFifeFromStopPoint {
  0% {
    top: 44rem;
    left: 14rem;
    background-image: url("../assets/character/Walk1.png");
  }
  10% {
    top: 43rem;
    left: 15rem;
    background-image: url("../assets/character/Walk2.png");
  }
  15% {
    top: 43rem;
    left: 20rem;
    background-image: url("../assets/character/Walk3.png");
  }
  20% {
    top: 42rem;
    left: 23rem;
    background-image: url("../assets/character/Walk4.png");
  }
  25% {
    top: 42rem;
    left: 27rem;
    background-image: url("../assets/character/Walk5.png");
  }
  30% {
    top: 42rem;
    left: 29rem;
    background-image: url("../assets/character/Walk6.png");
  }
  35% {
    top: 42rem;
    left: 31rem;
    background-image: url("../assets/character/Walk7.png");
  }
  40% {
    top: 42rem;
    left: 33rem;
    background-image: url("../assets/character/Walk8.png");
  }
  45% {
    background-image: url("../assets/character/Walk9.png");
  }
  50% {
    top: 42rem;
    left: 36rem;
    background-image: url("../assets/character/Walk10.png");
  }
  55% {
    background-image: url("../assets/character/Walk11.png");
  }
  60% {
    top: 42rem;
    left: 40rem;
    background-image: url("../assets/character/Walk12.png");
  }
  65% {
    top: 41rem;
    left: 45rem;
    background-image: url("../assets/character/Walk13.png");
  }
  70% {
    top: 39rem;
    left: 47rem;
    background-image: url("../assets/character/Walk14.png");
  }
  75% {
    top: 37rem;
    left: 52rem;
    background-image: url("../assets/character/Walk15.png");
  }
  80% {
    top: 37rem;
    left: 53rem;
    background-image: url("../assets/character/Walk16.png");
  }
  85% {
    top: 36rem;
    left: 54rem;
    background-image: url("../assets/character/Walk17.png");
  }
  90% {
    top: 36rem;
    left: 55rem;
    background-image: url("../assets/character/Walk18.png");
  }
  100% {
    top: 35rem;
    left: 56rem;
    background-image: url("../assets/character/Walk19.png");
  }
}
@-webkit-keyframes moveToProjectSeven {
  0% {
    top: 35rem;
    left: 56rem;
    background-image: url("../assets/character/Walk1.png");
  }
  10% {
    background-image: url("../assets/character/Walk2.png");
  }
  15% {
    background-image: url("../assets/character/Walk3.png");
  }
  20% {
    background-image: url("../assets/character/Walk4.png");
  }
  25% {
    background-image: url("../assets/character/Walk5.png");
  }
  30% {
    background-image: url("../assets/character/Walk6.png");
  }
  35% {
    background-image: url("../assets/character/Walk7.png");
  }
  40% {
    background-image: url("../assets/character/Walk8.png");
  }
  45% {
    background-image: url("../assets/character/Walk9.png");
  }
  50% {
    background-image: url("../assets/character/Walk10.png");
  }
  55% {
    background-image: url("../assets/character/Walk11.png");
  }
  60% {
    background-image: url("../assets/character/Walk12.png");
  }
  65% {
    background-image: url("../assets/character/Walk13.png");
  }
  70% {
    top: 18rem;
    left: 82rem;
    background-image: url("../assets/character/Walk14.png");
  }
  75% {
    background-image: url("../assets/character/Walk15.png");
  }
  80% {
    background-image: url("../assets/character/Walk16.png");
  }
  85% {
    background-image: url("../assets/character/Walk17.png");
  }
  90% {
    background-image: url("../assets/character/Walk18.png");
  }
  100% {
    top: 5rem;
    left: 82rem;
    background-image: url("../assets/character/Walk19.png");
  }
}
@keyframes moveToProjectSeven {
  0% {
    top: 35rem;
    left: 56rem;
    background-image: url("../assets/character/Walk1.png");
  }
  10% {
    background-image: url("../assets/character/Walk2.png");
  }
  15% {
    background-image: url("../assets/character/Walk3.png");
  }
  20% {
    background-image: url("../assets/character/Walk4.png");
  }
  25% {
    background-image: url("../assets/character/Walk5.png");
  }
  30% {
    background-image: url("../assets/character/Walk6.png");
  }
  35% {
    background-image: url("../assets/character/Walk7.png");
  }
  40% {
    background-image: url("../assets/character/Walk8.png");
  }
  45% {
    background-image: url("../assets/character/Walk9.png");
  }
  50% {
    background-image: url("../assets/character/Walk10.png");
  }
  55% {
    background-image: url("../assets/character/Walk11.png");
  }
  60% {
    background-image: url("../assets/character/Walk12.png");
  }
  65% {
    background-image: url("../assets/character/Walk13.png");
  }
  70% {
    top: 18rem;
    left: 82rem;
    background-image: url("../assets/character/Walk14.png");
  }
  75% {
    background-image: url("../assets/character/Walk15.png");
  }
  80% {
    background-image: url("../assets/character/Walk16.png");
  }
  85% {
    background-image: url("../assets/character/Walk17.png");
  }
  90% {
    background-image: url("../assets/character/Walk18.png");
  }
  100% {
    top: 5rem;
    left: 82rem;
    background-image: url("../assets/character/Walk19.png");
  }
}
@-webkit-keyframes goToRight {
  0% {
    left: 5rem;
    bottom: 6rem;
    background-image: url("../assets/character/Walk1.png");
  }
  10% {
    background-image: url("../assets/character/Walk2.png");
  }
  15% {
    background-image: url("../assets/character/Walk3.png");
  }
  20% {
    background-image: url("../assets/character/Walk4.png");
  }
  25% {
    background-image: url("../assets/character/Walk5.png");
  }
  30% {
    background-image: url("../assets/character/Walk6.png");
  }
  35% {
    background-image: url("../assets/character/Walk7.png");
  }
  40% {
    background-image: url("../assets/character/Walk8.png");
  }
  45% {
    background-image: url("../assets/character/Walk9.png");
  }
  50% {
    background-image: url("../assets/character/Walk10.png");
  }
  55% {
    background-image: url("../assets/character/Walk11.png");
  }
  60% {
    background-image: url("../assets/character/Walk12.png");
  }
  65% {
    background-image: url("../assets/character/Walk13.png");
  }
  70% {
    background-image: url("../assets/character/Walk14.png");
  }
  75% {
    background-image: url("../assets/character/Walk15.png");
  }
  80% {
    background-image: url("../assets/character/Walk16.png");
  }
  85% {
    background-image: url("../assets/character/Walk17.png");
  }
  90% {
    background-image: url("../assets/character/Walk18.png");
  }
  100% {
    left: 90rem;
    bottom: 6rem;
    background-image: url("../assets/character/Walk19.png");
  }
}
@keyframes goToRight {
  0% {
    left: 5rem;
    bottom: 6rem;
    background-image: url("../assets/character/Walk1.png");
  }
  10% {
    background-image: url("../assets/character/Walk2.png");
  }
  15% {
    background-image: url("../assets/character/Walk3.png");
  }
  20% {
    background-image: url("../assets/character/Walk4.png");
  }
  25% {
    background-image: url("../assets/character/Walk5.png");
  }
  30% {
    background-image: url("../assets/character/Walk6.png");
  }
  35% {
    background-image: url("../assets/character/Walk7.png");
  }
  40% {
    background-image: url("../assets/character/Walk8.png");
  }
  45% {
    background-image: url("../assets/character/Walk9.png");
  }
  50% {
    background-image: url("../assets/character/Walk10.png");
  }
  55% {
    background-image: url("../assets/character/Walk11.png");
  }
  60% {
    background-image: url("../assets/character/Walk12.png");
  }
  65% {
    background-image: url("../assets/character/Walk13.png");
  }
  70% {
    background-image: url("../assets/character/Walk14.png");
  }
  75% {
    background-image: url("../assets/character/Walk15.png");
  }
  80% {
    background-image: url("../assets/character/Walk16.png");
  }
  85% {
    background-image: url("../assets/character/Walk17.png");
  }
  90% {
    background-image: url("../assets/character/Walk18.png");
  }
  100% {
    left: 90rem;
    bottom: 6rem;
    background-image: url("../assets/character/Walk19.png");
  }
}
@-webkit-keyframes goToLeft {
  0% {
    left: 90rem;
    bottom: 6rem;
    background-image: url("../assets/character/Walk1.png");
  }
  10% {
    background-image: url("../assets/character/Walk2.png");
  }
  15% {
    background-image: url("../assets/character/Walk3.png");
  }
  20% {
    background-image: url("../assets/character/Walk4.png");
  }
  25% {
    background-image: url("../assets/character/Walk5.png");
  }
  30% {
    background-image: url("../assets/character/Walk6.png");
  }
  35% {
    background-image: url("../assets/character/Walk7.png");
  }
  40% {
    background-image: url("../assets/character/Walk8.png");
  }
  45% {
    background-image: url("../assets/character/Walk9.png");
  }
  50% {
    background-image: url("../assets/character/Walk10.png");
  }
  55% {
    background-image: url("../assets/character/Walk11.png");
  }
  60% {
    background-image: url("../assets/character/Walk12.png");
  }
  65% {
    background-image: url("../assets/character/Walk13.png");
  }
  70% {
    background-image: url("../assets/character/Walk14.png");
  }
  75% {
    background-image: url("../assets/character/Walk15.png");
  }
  80% {
    background-image: url("../assets/character/Walk16.png");
  }
  85% {
    background-image: url("../assets/character/Walk17.png");
  }
  90% {
    background-image: url("../assets/character/Walk18.png");
  }
  100% {
    left: 5rem;
    bottom: 6rem;
    background-image: url("../assets/character/Walk19.png");
  }
}
@keyframes goToLeft {
  0% {
    left: 90rem;
    bottom: 6rem;
    background-image: url("../assets/character/Walk1.png");
  }
  10% {
    background-image: url("../assets/character/Walk2.png");
  }
  15% {
    background-image: url("../assets/character/Walk3.png");
  }
  20% {
    background-image: url("../assets/character/Walk4.png");
  }
  25% {
    background-image: url("../assets/character/Walk5.png");
  }
  30% {
    background-image: url("../assets/character/Walk6.png");
  }
  35% {
    background-image: url("../assets/character/Walk7.png");
  }
  40% {
    background-image: url("../assets/character/Walk8.png");
  }
  45% {
    background-image: url("../assets/character/Walk9.png");
  }
  50% {
    background-image: url("../assets/character/Walk10.png");
  }
  55% {
    background-image: url("../assets/character/Walk11.png");
  }
  60% {
    background-image: url("../assets/character/Walk12.png");
  }
  65% {
    background-image: url("../assets/character/Walk13.png");
  }
  70% {
    background-image: url("../assets/character/Walk14.png");
  }
  75% {
    background-image: url("../assets/character/Walk15.png");
  }
  80% {
    background-image: url("../assets/character/Walk16.png");
  }
  85% {
    background-image: url("../assets/character/Walk17.png");
  }
  90% {
    background-image: url("../assets/character/Walk18.png");
  }
  100% {
    left: 5rem;
    bottom: 6rem;
    background-image: url("../assets/character/Walk19.png");
  }
}
/*# sourceMappingURL=style.css.map */
